.artImage {
  width: 20vh;
  height: 15vh;
  object-fit: cover;
}
.articulo {
  display: flex;
  flex-direction: column;
  width: 20vh;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.nombre {
  height: 6vh;
  margin-left: 0.5vh;
  text-align: center;
}
.precio {
  text-align: center;
}
.popUp {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.cartFooter {
  display: flex;
  justify-content: center;
}
.carrito {
  border: none;
  background-color: transparent;
}
.masymenos {
  margin-top: 1vh;
}
